@media all and (max-width:1100px){
    /*header部分*/
    .header-left h1{
        font-size:18px;
        padding-top:20px;
    }
    .txt{
        color:red;
        font-size:35px;
    }
    .header-right{
        padding-top:40px;
    }
    .header-right a{
        font-size:15px;
    }
    /*トップの画像部分*/
    .top-wrapper{
        height:700px;
    }
    .top-text{
        padding-top:200px;
    }
    .top-text h2{
        color:white;
        text-align:center;/*キャッチコピーを真ん中に*/
        font-size:30px;
        padding-top:50px;
    }
    /*Products部分*/
    .products-menu{
        flex-wrap:wrap;
    }
    .products-list{
        width:50%;
    }
    .music-contents{
        padding:30px 0px 50px 0px;
        width:280px;
        
    }
    .music-text a{
        font-size:18px;
        border-bottom:4px solid red;
        padding-bottom:5px;
    }
    .music p{
        font-size:14px;
    }
}

@media all and (max-width:670px){
    /*header部分*/
    header{
        height:50px;
    }
    .header-left img{
        width:45px;
        height:45px;
        padding-top:5px;
    }
    .header-left h1{
        font-size:12px;
        padding:14px 0px 0px 50px;
    }
    .menu-icon{
        display:block;
    }
    .header-right{
        display:none;
    }
    .txt{
        font-size:24px;
    }
    /*トップの画像部分*/
    .top-wrapper{
        height:600px;
    }
    .top-text{
        padding-top:200px;
    }
    .top-text h2{
        color:white;
        text-align:center;/*キャッチコピーを真ん中に*/
        font-size:25px;
        padding-top:50px;
    }
    /*Products部分*/
    .products-menu{
        flex-wrap:wrap;
    }
    .products-list{
        width:100%;
    }
    .music-contents{
        padding:30px 0px 50px 0px;
    }
    .music-text a{
        font-size:18px;
        border-bottom:4px solid red;
        padding-bottom:5px;
    }
    .music p{
        font-size:14px;
    }
    /*Release部分*/
    .release-text a{
        font-size:18px;
    }
    .release-stor a{
        font-size:12px;
    }
    /*footer部分*/
    .footer-list{
        font-size:16px;
    }
    .footer-list a{
        padding-right:20px;
    }
    .footer-text p{
        color:white;
        font-size:14px;
        padding-top:30px;
    }
}
