/*リセットCSS始まり*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: blur(10px);
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*リセットCSS終わり*/



/*ここから始めます*/
/*headerの始まり*/
header{
    height:70px;
    width:100%;
    background-color:rgba(0, 0, 0,0.8);
    position:fixed;/*headerを固定*/
    top:0;/*topに固定*/
    z-index:10;/*要素の重なりを一番上に来るように*/
}

.container{
    max-width:1170px;
    width:100%;
    padding:0px 15px;
    margin:0 auto;/*containerを中央に*/
}

.header-left{
    float:left;
}

.header-left img{
    width:65px;
    height:65px;
    float:left;/*header-rightをfloatする為に*/
    padding-top:5px;
}

.header-left h1{
    color:white;
    padding:3px 0px 0px 70px;
}
.txt{
  color:red;
  font-size:50px;
}

.menu-icon{/*スマホ画面で表示する*/
  display:none;
  color:white;
  float:right;/*アイコンを右に*/
  font-size:25px;
  padding:10px 10px 0px 0px;
}

.header-right{
    float:right;
    padding-top:33px;
}

.header-right a{
    color:white;
    font-size:20px;
    padding-right:10px;
    text-decoration:none;/*下線消し*/
}
.header-right a:hover{
  opacity:0.8;
}



/*トップ画像の始まり*/
.top-wrapper{
  background-image:url(img/fre背景.jpg);
  background-size:cover;/*画像を画面サイズ一杯に広げる*/
  height:900px;
}

.top-text{
  padding-top:400px;
}

.top-text h2{
  color:white;
  text-align:center;/*キャッチコピーを真ん中に*/
  font-size:50px;
  padding-top:30px;
}




/*Productsの始まり*/
.products-wrapper{
  padding:80px 10px;
}
.products-menu{
  display:flex;
}
.products-list{
  flex:auto;
  width:25%;
}
.music-text a{
  font-size:24px;
  border-bottom:4px solid red;
  padding-bottom:5px;
  color:black;
  text-decoration:none;
  display:inline-block;
}
.music-text a:hover{
  opacity:0.6;
}
.fas{
  padding-right:10px;
}
.music-contents{
  padding-top:30px;
  padding-right:10px;
  width:230px;
  text-align:center;
  margin:0 auto;
}
.music{
  padding-top:30px;
}
.music img{
  display:inline-block;
}
.music p{
  font-size:16px;
}










/*Releaseの始まり*/
.fa-lightbulb{
  padding-right:10px;
}
.release-text a{
  color:black;
  font-size:24px;
  text-decoration:none;
  border-bottom:solid 4px red;/*下線を引く*/
  padding-bottom:5px;
}
.release-text a:hover{
  opacity:0.6;
}

.release-icon-stor{
  padding-top:70px;
}
.release-icon{
  text-align:center;
}
.release-icon img{
  display:inline-block;/*text-align:center;にする為に*/
  weight:100px;
  height:100px;
}

.release-stor{
  text-align:center;
  padding-top:60px;
  padding-bottom:50px;
}
.release-stor a{
  color:white;
  font-size:20px;
  text-decoration:none;
  background-color:black;
  padding-top:10px;
  padding-bottom:10px;
  padding-right:20px;
  margin-right:20px;
  border-radius:10px;
}
.release-stor a:hover{
  opacity:0.6;
}
.fa-app-store-ios{/*appstorのアイコン*/
  padding-right:10px;
  padding-left:10px;
}
.fa-google-play{/*GooglePlayのアイコン*/
  padding-right:10px;
  padding-left:10px;
}



/*footerの始まり*/
footer{
  background-color:rgba(11, 11, 15, 0.822);
  width:100%;
  height:150px;
  margin-top:30px;
  text-align:center;
}
.footer-list{
  font-size:18px;
  padding:30px 0px;
}
.footer-list a{
  color:white;
  padding-right:30px;
  text-decoration:none;
}
.footer-list a:hover{
  opacity:0.6;
}
.fa-building{
  padding-right:10px;
}
.fa-paper-plane{
  padding-right:10px;
}
.footer-text p{
  color:white;
  font-size:18px;
  padding-top:30px;
}
